<link rel="import" href="../polymer/polymer-element.html">
<link rel="import" href="../paper-button/paper-button.html">
<link rel="import" href="../componente-hijob/componente-hijob.html">
<link rel="import" href="../componente-hijoc/componente-hijoc.html">

<dom-module id="componente-padre">
  <template>
    <style>
      :host {
        display: block;
      }
    </style>
    <div class="divPadre">
      <template is="dom-if" if="[[btnVisible]]">
        <h2>Titulo: [[title]]!</h2>
        <h3>Descripción: [[description]]</h3>
        <paper-button on-click="elementB" raised>Lista</paper-button>
        <paper-button on-click="elementC" raised>Tabla</paper-button>
      </template>
    </div>
    <div>
      <template is="dom-if" if="[[listVisible]]">
        <componente-hijob></componente-hijob>
      </template>
    </div>
    <div>
      <template is="dom-if" if="[[tableVisible]]">
        <componente-hijoc></componente-hijoc>
      </template>
    </div>
  </template>

  <script>
    /**
     * `componente-padre`
     *
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class ComponentePadre extends Polymer.Element {
      static get is() { return 'componente-padre'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'Componente Padre'
          },
          title: {
            type: String,
            value: 'Componente Padre'
          },
          description: {
            type: String,
            value: 'Este es el componente padre que cargara a sus hijos B y C'
          },
          btnVisible: {
            type: Boolean,
            value: true
          },
          listVisible: {
            type: Boolean,
            value: false
          },
          tableVisible: {
            type: Boolean,
            value: false
          },
        };
      }
      elementB() {
        this.btnVisible = false
        this.listVisible = true
        this.tableVisible = false
      }
      elementC() {
        this.btnVisible = false
        this.listVisible = false
        this.tableVisible = true
      }
    }

    window.customElements.define(ComponentePadre.is, ComponentePadre);
  </script>
</dom-module>
